# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.ipynb_checkpoints/
.pytest_cache/
 
# Environments & Secrets
.env
.env.local
.venv/
env/
venv/
 
# macOS
.DS_Store
 
# IDE
.vscode/
.idea/
*.swp
*.swo
 
# Jupyter
*.ipynb_checkpoints
.jupyter/
 
# Output / Data (optional, je nach Projekt)
*.log
